<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colx</title>
  {% load static %}
  
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
</head>
<body>
  {% if request.session.roll_number %}
  <!-- navbaar after login -->
    <!-- navbaar after login-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'colx:index' %}">Colx</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'colx:index' %}">Home</a></li>
      <li><a href="{% url 'colx:sell' %}">Sell</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" > {{ request.session.roll_number }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Cart</a></li>
              <li><a href="#">Your orders</a></li>
              <li><a href="{% url 'colx:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
      </li>
    </ul>
  </div>
</nav> 


<!-- navbaar ends -->
  {% else %}
 {% include 'colx/include/navbar.html' %}
 {% endif%} 
<!-- navbaar ends -->
<!-- items shown -->
<div class="container">
  <h2>Items Available For Purchase</h2>
  <div class="row">
      {% for item in items %}
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>{{ item.item_name }}</h4></div>
          <div class="panel-body">
            <img src="{{ item.img }}" style="height: 300px;width: 225px;"/>
            <h6 class="text-right"><kbd class="bg-primary">&#8377 {{ item.price }}</kbd></h6>
          </div>
          <div class="panel-footer  ">{{ item.description }}
           </div>
        </div>
      </div>
      {% endfor %}
      
  </div>
</div>
<!--js files-->

</body>

</html>
