<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form action="localhost:8080/Colx/login.php" method="post">
            
            <label>Roll Number:</label><input name="roll_number" type="text" />
      
            <label>Password:</label><input name="password" type="text" />
            <input type="submit" value="Login">
        </form>
    </body>
</html>

    </body>
</html>
